doctype html
html(lang="us")

  head
    title Color Addition
    link(rel="stylesheet", href="css/style.css")
    script(src="js/vendor/jquery-1.10.2.js")
    script(src="js/source/main.js")
  body
    h1 Color Addition
    #panel
      input(type="text", id="textbox", placeholder="Colors")
      input(type="button", id="addColors", value="Add Colors")
    #container
