doctype html
html(lang="us")

  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/empty.css")
  body
    header
      h1 Drill 2
      img(src="http://24.media.tumblr.com/1c50914b0a66b0a4c3da74bea7c43db1/tumblr_mlocs8QKEX1s917bwo1_400.gif")
      #bacon
        ul 
          -for(var i = 0; i <= 100; i++)
            li=i
             
