doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Select Generator
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Select and Paint Generator
    #controls
       input(type="text", id="textbox", placeholder="option")
       button#add-option Add Color
    select#options
    #paint
