doctype html
html(lang="us")

  head
    header
      h1 Drill 1
      img(src="http://i.perezhilton.com/wp-content/uploads/2011/07/little-eden-keeping-busy__oPt.jpg")
   footer
      p &copy Copyright 2013
  body
