doctype html
html(lang="us")

  head
    link(rel="stylesheet", href="css/empty.css")
    script(src="js/vendor/jquery-1.10.2.js")
    script(src="js/source/empty.js")
  body
    header
      h1 Drill 3
      img(src="http://www.empireonline.com/images/uploaded/twilight-bella-edward.jpg" width="100px" height="100px")
    #controls
      input(type="text" id="color-text" placeholder="color")
      input(type="button" id="add-color" value="Add Color")
    #colors
