doctype html
html(lang="us")

  head
    title Odd and Even LIS
    link(rel="stylesheet", href="style.css")
    script(src="js/vendor/jquery-1.10.2.js")
    script(src="js/source/main.js")
  body
    #container
      h1 Odd and Even LIS
      #interface
        input(type="text", id="text", placeholder="Number of LIS")
      #addListButton
        input(type="button", value="Add LIS")
